
body{
  background: #161a1d;
  }
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron h1 {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}
#ALBUM{
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
width: 100vw;
max-width: 90vw;
justify-content: center;
}
#A1{
  height: 54vh;
  background: rgba(255, 255, 255, 0);
  box-shadow:
    6px 6px 20px -1px  rgb(7, 11, 14,1),
    -0px -6px 20px 0px rgb(37, 41, 44, 1);
  width: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 1vw;
  border-radius: 0.25vh;
}
#A2{
  height: 53vh;
  width: auto;
  display: flex;
  flex-direction: column;
  text-align: left;
}
#sello{
  margin-top: 1vh;
  height: 1vh;
  width: auto;
  max-width: 30vw;
  margin-left: 1vw;
}
#A2>img{
  height: 49vh;
  max-height: 49vh;
  width: auto;
  border-radius: 0.25vh 0.25vh 0 0;
}

