 /* ----------------bloque 2 Galeria--------- */
 
 #Bloque2 {
     background: #fafafa;
 }
 
 #Bloque2>div>h1 {
     font-family: 'Kaushan Script', cursive;
     margin: 0vh;
     color: aliceblue;
     margin-bottom: 2.5vh;
     font-size: 8vh;
     font-weight: 100;
 }
 
 #Bloque2>div>p {
     /* font-family: 'Quicksand', sans-serif; */
     font-size: 2.5vh;
     margin: 0;
     color: aliceblue;
     margin-bottom: 1vh;
 }
 
 .boton {
     font-family: 'Kaushan Script', cursive;
     font-size: 2vh;
     width: 10vw;
     height: 5vh;
     margin-bottom: 2.5vh;
 }
 
 #Bloque2>div>div {
     display: flex;
     flex-wrap: wrap;
     margin: 0vh;
     background: #ededed00;
     height: auto;
     width: 97vw;
     margin-right: 2vw;
     margin-left: 1vw;
     overflow-y: hidden;
     overflow-x: hidden;
     align-items: center;
     justify-content: center;
 }
 
 #Bloque2>div>div>img {
     height: 15vh;
     width: auto;
     margin-left: 0.5vw;
     box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
 }
 
 #V {
     position: absolute;
     background: #1d343ce6;
     height: auto;
     width: 100vw;
     /* display: flex; */
     justify-content: center;
     align-items: center;
     display: none;
     animation-name: gradiente_M2;
     animation-duration: 10s;
     animation-iteration-count: infinite;
 }
 
 #V>img {
     margin-top: 20vh;
     height: 65vh;
     width: auto;
     /* box-shadow: rgba(255, 255, 255, 0.25) 0px 54px 55px, rgba(255, 255, 255, 0.12) 0px -12px 30px, rgba(255, 255, 255, 0.12) 0px 4px 6px, rgba(255, 255, 255, 0.17) 0px 12px 13px, rgba(255, 255, 255, 0.09) 0px -3px 5px; */
 }
 
 @keyframes gradiente_M2 {
     0% {
         background: #1d343ce6;
     }
     50% {
         background: #182e37e0;
     }
 }